

<style type="text/css">
	.uploadTemplate{
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: #fff url('http://upload.wikimedia.org/wikipedia/commons/d/dc/Sky-View_ForestWander.JPG') center bottom no-repeat;
		background-size:cover;	
	}
	
	.homeBox{
		text-align:center;
		font-size:80px;
		color:white;
		text-transform:uppercase;
		font-weight:bold;
		
	}
	
			.homeBox h1{
				font-size:100px;		
			}
			
			.homeBox h4{
				font-size:40px;		
			}
	
	
	@media all and (min-width: 1680px){
		.uploadTemplate{
			left:320px;	
		}
	}
</style>

<div class="uploadTemplate">
	<div class="homeBox">
		<h1>{{titel}}</h1>
		<h4>{{lead}}</h4>
	</div>
</div>